<html>
    <head>
        <title>SmartHome</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>
    <body>

        {% if status_temperatury == 0 %}
        <h1>Czujnik temperatury nie jest podłaczony, ostatni pomiar {{temperature}} stopni</h1>
        {% endif %}

        {% if status_temperatury == 1 %}
        <h1>Czujnik temperatury podłaczony, Temperatura {{temperature}} stopni</h1>
        {% endif %}


        <canvas id="myChart" width="600" height="400"></canvas>
        <canvas id="myChart2" width="600" height="400"></canvas>
        <script>

                    Chart.defaults.global.responsive = false;
                    
                    var chartData = {
                    labels : [{% for item in x_temperature %}
                                "{{item}}",
                                {% endfor %}],
                    datasets : [{
                        label: '{{ legend }}',
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data : [{% for item in y_temperature %}
                                    {{item}},
                                {% endfor %}],
                        spanGaps: false
                    }]
                    }
                    
                    // get chart canvas
                    var ctx = document.getElementById("myChart").getContext("2d");
                    
                    // create the chart using the chart canvas
                    var myChart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    });
        </script>
        <script>

            Chart.defaults.global.responsive = false;
            
            var chartData = {
            labels : [{% for item in x_wilgotnosc %}
                        "{{item}}",
                        {% endfor %}],
            datasets : [{
                label: '{{ legend }}',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in y_wilgotnosc %}
                            {{item}},
                        {% endfor %}],
                spanGaps: false
            }]
            }
            
            // get chart canvas
            var ctx = document.getElementById("myChart2").getContext("2d");
            
            // create the chart using the chart canvas
            var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            });
</script>
    </body>
</html>
