<html>
    <head>
        <title>SmartHome</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>
    <body>
        <h1>Oświetlenie</h1>
        <p>W tym miejscu bedzie można wlaczac wylaczac swiatło</p>
        {% if status_temperatury == 0 %}
        <h1>Czujnik temperatury nie jest podłaczony, ostatni pomiar {{temperature}} stopni</h1>
        {% endif %}

        {% if status_temperatury == 1 %}
        <h1>Czujnik temperatury podłaczony, temperatura {{temperature}} stopni</h1>
        {% endif %}

        {% if status_wilgotnosci == 0 %}
        <h1>Czujnik wilgotności nie jest podłaczony, ostatni pomiar {{watosc_wilgotnosci}} stopni</h1>
        {% endif %}

        {% if status_wilgotnosci == 1 %}
        <h1>Czujnik temperatury podłaczony, wilgotność {{watosc_wilgotnosci}}%</h1>
        {% endif %}

        {% if status_czystosc == 1 %}
        <h1>Czujnik zanieczyszczenia powietrza podłaczony, wartość {{wartosc_czystosc}}μg/m3</h1>
        {% endif %}
        
        {% if status_czystosc == 0 %}
        <h1>Czujnik zanieczyszczenia powietrza nie podłaczony, ostatni pomiar {{wartosc_czystosc}}μg/m3</h1>
        {% endif %}
        
        {% if status_wykresu_temoeratury == 1 %}
        <canvas id="myChart" width="500" height="300"></canvas>
        {% endif %}
        <canvas id="myChart2" width="500" height="300"></canvas>
        <canvas id="myChart3" width="500" height="300"></canvas>
    </body>
</html>
<script>
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.legend.display = false;
    var TempChart = {
    labels : [{% for item in x_temperature %}
                "{{item}}",
                {% endfor %}],       
    datasets : [{
        fill: true,
        borderColor: 'rgb(215, 245, 66)',
        pointRadius: 0,
        fill: false,
        borderWidth: 4,

        data : [{% for item in y_temperature %}
                    {{item}},
                {% endfor %}],
    }]
    }
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
    type: 'line',
    data: TempChart,
    options: {

        title:{
            text: "Wykres temperatury od czasu",
            display: true,
        },
        scales: {
            yAxes: [{
                scaleLabel: {
                display: true,
                labelString: 'Temperatura [°C]',
      }
            }]
        }
    }
    });

// Chart.defaults.global.responsive = false;

// var chartData = {
// labels : [{% for item in x_wilgotnosc %}
//         "{{item}}",
//         {% endfor %}],
// datasets : [{
// label: '{{ legend }}',
// fill: true,
// lineTension: 0.1,
// backgroundColor: "rgba(75,192,192,0.4)",
// borderColor: "rgba(75,192,192,1)",
// borderCapStyle: 'butt',
// borderDash: [],
// borderDashOffset: 0.0,
// borderJoinStyle: 'miter',
// pointBorderColor: "rgba(75,192,192,1)",
// pointBackgroundColor: "#fff",
// pointBorderWidth: 1,
// pointHoverRadius: 5,
// pointHoverBackgroundColor: "rgba(75,192,192,1)",
// pointHoverBorderColor: "rgba(220,220,220,1)",
// pointHoverBorderWidth: 2,
// pointRadius: 1,
// pointHitRadius: 10,
// data : [{% for item in y_wilgotnosc %}
//             {{item}},
//         {% endfor %}],
// spanGaps: false
// }]
// }

// // get chart canvas
// var ctx = document.getElementById("myChart2").getContext("2d");

// // create the chart using the chart canvas
// var myChart = new Chart(ctx, {
// type: 'line',
// data: chartData,
// });

// Chart.defaults.global.responsive = false;

// var chartData = {
// labels : [{% for item in x_czystosc %}
// "{{item}}",
// {% endfor %}],
// datasets : [{
// label: '{{ legend }}',
// fill: true,
// lineTension: 0.1,
// backgroundColor: "rgba(75,192,192,0.4)",
// borderColor: "rgba(75,192,192,1)",
// borderCapStyle: 'butt',
// borderDash: [],
// borderDashOffset: 0.0,
// borderJoinStyle: 'miter',
// pointBorderColor: "rgba(75,192,192,1)",
// pointBackgroundColor: "#fff",
// pointBorderWidth: 1,
// pointHoverRadius: 5,
// pointHoverBackgroundColor: "rgba(75,192,192,1)",
// pointHoverBorderColor: "rgba(220,220,220,1)",
// pointHoverBorderWidth: 2,
// pointRadius: 1,
// pointHitRadius: 10,
// data : [{% for item in y_czystosc %}
//     {{item}},
// {% endfor %}],
// spanGaps: false
// }]
// }

// // get chart canvas
// var ctx = document.getElementById("myChart3").getContext("2d");

// // create the chart using the chart canvas
// var myChart = new Chart(ctx, {
// type: 'line',
// data: chartData,
// });
</script>